
body {
	padding: 0;
	margin: 0;
	overflow:hidden;
}

iframe {
	width:100%;
	height:100%;
	border: none;
}

.remove-subreddit {
	display: none;
	float:right;
}

.navbar {
	border-radius: 0px;
	margin:0px;
}

.content {
	height:100%;
	width:100%;
}

.menu-bar {
	width:100%;
}

.news-list {
	float:left;
	display:inline-block;
	background-color:#ddd;	
	overflow: scroll;
	padding-top:5px;
	width:300px;
	height:100%;
}

.news-item{
	padding:5px 15px;
	vertical-align: middle;
}

.preview {
	display:inline-block;
	float:right;
	background-color:#fff;	
	height: 100%;
}