
body {
	padding: 0;
	margin: 0;
	overflow:hidden;
}

iframe {
	width:100%;
	height:100%;
	border: none;
}

.remove-subreddit {
	float:right;
	opacity:0.1;
}

.remove-subreddit:hover {
	opacity: 1;
}

.subreddit-input {
	color: white;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  -moz-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset;
  background: #202020;
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
}

.navbar {
	border-radius: 0px;
	margin:0px;
}

.content {
	height:100%;
	width:100%;
}

.menu-bar {
	width:100%;
}

.news-list {
	float:left;
	display:inline-block;
	background-color:#ddd;	
	overflow: scroll;
	width:300px;
	height:100%;
}

.news-item{
	position:relative;
	padding:5px 15px;
	height:100px;
	vertical-align: middle;
	border-bottom:1px solid #999999;

	box-shadow: 0px 1px 2px #fff; 
	-webkit-box-shadow: 0px 1px 2px #fff; 
	-moz-box-shadow: 0px 1px 2px #fff; 

	cursor:pointer;
}
.active, 
.news-item:hover{
	background-color:#ccc;
}

.news-title {
	max-height:42px;
	line-height:20px;
	overflow:hidden;
	margin:0;
}

.news-secondary {
	position:absolute;
	margin:0;
	font-size: 11px;
	color: #777;
	bottom: 10px;
}

.news-author {
	margin:0;
	float:left;
	font-size: 11px;
	color: #777;
	max-width:215px;
}

.pts {
	margin-right:20px;
}

.preview {
	display:inline-block;
	float:right;
	background-color:#fff;	
	height: 100%;
	overflow:scroll;
}





input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #666666;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #666666;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666666;
}

input[type="text"]:-moz-placeholder {
  color: #666666;
}

input[type="text"]:-ms-input-placeholder {
  color: #666666;
}

input[type="text"]::-webkit-input-placeholder{
  color: #666666;
}







