<!doctype html>
<html ng-app>
<head>
  <!-- Stylesheets -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

  <!-- Includes --> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <!-- Scripts -->
	<script type="text/javascript" src="assets/js/application.js"></script>

	<!-- Controllers -->
  <script type="text/javascript" src="assets/js/controllers/news_controller.js"></script>

  <title>Multinews</title>
</head>
<body ng-controller="NewsController">

		<nav class="menu-bar navbar navbar-inverse" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <a class="navbar-brand" href="javascript:void(0)">Multinews</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="source.title"></span><b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li ng-repeat="location in news">
		          	<a href="javascript:void(0)" ng-bind="location.title" ng-click="setSource(location.type)"></a>
		          </li>
		        </ul>
		      </li>
		      <li>
		      	<a href="javascript:void(0)" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
		      </li>

		      <li class="dropdown" ng-hide="!source.subreddit">
		        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="source.default_subreddit.title"></span><b class="caret"></b></a>
		        <ul class="dropdown-menu">
		        	<li ng-repeat="item in source.subreddit">
		        		<a href="javascript:void(0)" ng-click="loadSubreddit(item)" class="subreddit">
		        			<span ng-bind="item.title"></span>
		        		</a>
		        	</li>
		        </ul>
		      </li> <!-- pick a subreddit dropdown -->

					<li class="dropdown" ng-hide="source.url">
		        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="source.default_subreddit.title"></span><b class="caret"></b></a>
		        <ul class="dropdown-menu">
		        	<li ng-repeat="item in source.subreddit">
		        		<a href="javascript:void(0)" ng-click="loadSubreddit(item)"><span ng-bind="item.title"></span><span class="remove-subreddit glyphicon glyphicon-remove" ng-click="removeSubreddit(item)"></span></a>
		        	</li>
		        </ul>
		      </li> <!-- pick a website to scrape dropdown -->		      

		      <li ng-hide="!source.subreddit" >
			      <p class="navbar-text"> or </p>

		      	<form class="navbar-form navbar-left" role="search">
				      <div class="form-group">
				        <input type="text" class="subreddit-input form-control" placeholder="Add Subreddit" ng-model="input_subreddit">
				     	</div>
		    		</form> <!-- Reddit add subreddit input -->
		      </li> <!-- hide if no subreddit -->
		      <li ng-hide="!source.subreddit">
				    <a href="javascript:void(0)" ng-click="addSubreddit()" class="add-subreddit">Add</a>
		      </li>
		    </ul>
		    
		  </div><!-- /.navbar-collapse -->
		</nav> <!-- End navbar -->


		<div class="content">
			<div class="news-list" >
				<div class="news-item" ng-repeat="article in articles" ng-click="showInPreview(article)">	
					<p class="news-title" ng-bind="article.Title"></p>
					<div class="hackerNewsItem" ng-hide="source.type != 'hackerNews'">
						<div class="news-author">
							<span ng-bind="article.PostedAgo"></span> by  
							<span ng-bind="article.PostedBy"></span>
						</div>

						<div class="news-secondary">
							<span class="glyphicon glyphicon-thumbs-up"></span>
							<span ng-bind="article.Points" class="pts"></span> 
							
							<span class="glyphicon glyphicon-comment"></span>
							<span ng-bind="article.CommentCount"></span> 
						</div>
					</div>
					
					<div class="redditItem" ng-hide="source.type != 'reddit'">
						<p class="news-secondary" ng-bind="article.Comments"></p> 
						<div class="news-author">
							<span ng-bind="article.Author"></span> on   
							<span ng-bind="article.Subreddit"></span>
						</div>

						<div class="news-secondary">
							<span class="glyphicon glyphicon-thumbs-up"></span>
							<span ng-bind="article.Score" class="pts"></span> 
							
							<span class="glyphicon glyphicon-comment"></span>
							<span ng-bind="article.num_comments"></span> 
						</div> <!-- news-secondary -->
					</div> <!-- reddit item -->
				</div>
			</div> <!-- news-list -->
			
			<div class="preview">
				<iframe src="" name="preview"></iframe>
			</div> <!-- preview -->
		</div> <!-- content -->
</body>
</html>
