<!doctype html>
<html ng-app>
<head>
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">

  <!-- Includes --> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <!-- Scripts -->
	<script type="text/javascript" src="assets/js/application.js"></script>

	<!-- Controllers -->
  <script type="text/javascript" src="assets/js/controllers/news_controller.js"></script>

  <title>Multinews</title>
</head>
<body ng-controller="NewsController">
	
		<div class="menu-bar">
			<button type="button" class="btn btn-primary" ng-click="getHackerNews()">Home</button>
		</div><!--  menu bar  -->
		
		<div class="content">
			<div class="news-list" >
				<div class="news-item" ng-repeat="item in news">	
					<p ng-bind="item.Title" ng-click="showInPreview(item.Url)"></p>
				</div>
			</div> <!-- news-list -->
			
			<div class="preview">
				<iframe src="" name="preview"></iframe>
			</div> <!-- preview -->
		</div> <!-- content -->
</body>
</html>


<!-- Nav bar configurations. Do an animation between them 

Hacker news | Reddit | RSS
< | Hacker news  (drop down 20, 50, 100, 200, 500...)
< | Reddit       (drop down subredits)
 -->



