<!doctype html>
<html ng-app>
<head>
  <!-- Stylesheets -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

  <!-- Includes --> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

  <!-- Scripts -->
	<script type="text/javascript" src="assets/js/application.js"></script>

	<!-- Controllers -->
  <script type="text/javascript" src="assets/js/controllers/news_controller.js"></script>

  <title>Multinews</title>
</head>
<body ng-controller="NewsController">

		<nav class="menu-bar navbar navbar-inverse" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <a class="navbar-brand" href="javascript:void(0)">Multinews</a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse navbar-ex1-collapse">
		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="source.title"></span><b class="caret"></b></a>
		        <ul class="dropdown-menu">
		          <li ng-repeat="location in news">
		          	<a href="javascript:void(0)" ng-bind="location.title" ng-click="setSource(location.type)"></a>
		          </li>
		        </ul>
		      </li>

		      <li class="dropdown" ng-hide="!source.subreddit">
		        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="source.default_subreddit.title"></span><b class="caret"></b></a>
		        <ul class="dropdown-menu">
		        	<li ng-repeat="item in source.subreddit">
		        		<a href="javascript:void(0)" ng-click="loadSubreddit(item)" class="subreddit">
		        			<span ng-bind="item.title"></span>
		        		</a>
		        	</li>
		        	<li class="divider"></li>
		        	<li>
		        		<a data-toggle="modal" href="#myModal" class="subreddit">
		        			<span>Add Subreddit</span>
		        		</a>
		        	</li>
		        </ul>
		      </li> <!-- pick a subreddit dropdown -->

		      <li>
		      	<a href="javascript:void(0)" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
		      </li><!-- Refresh button -->

					<li class="dropdown" ng-hide="source.url">
		        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span ng-bind="source.default_subreddit.title"></span><b class="caret"></b></a>
		        <ul class="dropdown-menu">
		        	<li ng-repeat="item in source.subreddit">
		        		<a href="javascript:void(0)" ng-click="loadSubreddit(item)"><span ng-bind="item.title"></span><span class="remove-subreddit glyphicon glyphicon-remove" ng-click="removeSubreddit(item)"></span></a>
		        	</li>
		        </ul>
		      </li> <!-- pick a website to scrape dropdown -->		      
		    </ul>
		    
		  </div><!-- /.navbar-collapse -->
		</nav> <!-- End navbar -->


		<div class="content">
			<!-- Loading bar -->
			<div class="actionBar" ng-hide="loaded"><div class="loading"><img src="assets/images/ajax-loader.gif" /></div></div>
			<div class="news-list" >
				<div class="spacer" ng-hide="loaded"></div>
				<div class="news-item" ng-repeat="article in articles" ng-click="showInPreview(article)">	
					<p class="news-title" ng-bind="article.Title"></p>
					<div class="hackerNewsItem" ng-hide="source.type != 'hackerNews'">
						<div class="news-author">
							<span ng-bind="article.PostedAgo"></span> by  
							<span ng-bind="article.PostedBy"></span>
						</div>

						<div class="news-secondary">
							<span class="glyphicon glyphicon-thumbs-up"></span>
							<span ng-bind="article.Points" class="pts"></span> 
							
							<span class="glyphicon glyphicon-comment"></span>
							<span ng-bind="article.CommentCount"></span> 
						</div>
					</div>
					
					<div class="redditItem" ng-hide="source.type != 'reddit'">
						<p class="news-secondary" ng-bind="article.Comments"></p> 
						<div class="news-author">
							<span ng-bind="article.Author"></span> on   
							<span ng-bind="article.Subreddit"></span>
						</div>

						<div class="news-secondary">
							<span class="glyphicon glyphicon-thumbs-up"></span>
							<span ng-bind="article.Score" class="pts"></span> 
							
							<span class="glyphicon glyphicon-comment"></span>
							<span ng-bind="article.num_comments"></span> 
						</div> <!-- news-secondary -->
					</div> <!-- reddit item -->
				</div>
			</div> <!-- news-list -->
			
			<div class="preview">
				<iframe src="" name="preview"></iframe>
			</div> <!-- preview -->
		</div> <!-- content -->


		<!-- Modal -->
	  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title">Add subreddit as news source</h4>
	        </div>
	        <div class="modal-body">
	          <div class="input-group">
						  <span class="input-group-addon">/r/</span>
						  <input type="text" class="form-control" placeholder="Subreddit" ng-model="input_subreddit">
						</div>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	          <button type="button" class="btn btn-primary" ng-click="addSubreddit()" data-dismiss="modal">Save</button>
	        </div>
	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	  </div><!-- /.modal -->

</body>
</html>
